<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-lazy-init="true">

	<!-- http安全配置 -->
	<!--entry-point-ref="casEntryPoint" 去掉单点登录功能-->
	<http auto-config="false" use-expressions="true" servlet-api-provision="true">
		<intercept-url pattern="/styles/**" filters="none"/>
		<intercept-url pattern="/images/**" filters="none"/>
		<intercept-url pattern="/common/**" filters="none"/>
		<intercept-url pattern="/scripts/**" filters="none"/>
		<intercept-url pattern="/login" filters="none" access="permitAll"/>
		<intercept-url pattern="/WEB-INF/pages/login.jsp" filters="none" access="permitAll"/>
		<intercept-url pattern="/logout*" filters="none" access="permitAll"/>
		<!--禁止匿名用户访问系统-->
		<intercept-url pattern="/" access="isAuthenticated()"/>
		<!--注释掉下面这一行相当于 现在先不使用SpringSecurity-->
		<form-login login-page="/login" default-target-url="/" authentication-failure-url="/login"/>
		<logout invalidate-session="true" logout-success-url="/"/>
		<session-management invalid-session-url="/login">
			<concurrency-control max-sessions="1" error-if-maximum-exceeded="false"/>
		</session-management>
		<remember-me key="rememberme"/>
		<!-- 增加一个自定义的filter，放在FILTER_SECURITY_INTERCEPTOR之前,实现用户、角色、权限、资源的数据库管理。  -->
		<custom-filter ref="u3SecurityFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
	</http>

	<!-- 一个自定义的filter，必须包含authenticationManager,accessDecisionManager,securityMetadataSource三个属性。  -->
	<beans:bean id="u3SecurityFilter" class="cn.com.bdp.main.web.interceptor.SecurityExtInterceptor">
		<beans:property name="authenticationManager" ref="authenticationManager"/>
		<beans:property name="accessDecisionManager" ref="accessDecisionExtManager"/>
		<beans:property name="securityMetadataSource" ref="filterInvocationSecurityMetadataExtSource"/>
	</beans:bean>

	<!--<user-service>
			 <user name="admin" password="admin" authorities="ROLE_ADMIN,ROLE_USER"/>
			 <user name="user" password="user" authorities="ROLE_USER"/>
		 </user-service>-->

	<!-- 注意能够为authentication-manager 设置alias别名-->
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsExtService">
			<password-encoder hash="plaintext"/>
		</authentication-provider>
	</authentication-manager>
</beans:beans>